<h2 class = "header">New Movie</h2>
<br>
<div class = "card cards mx-auto d-block">
<%= form_for(@movie) do |f| %>
  <%= f.text_field :title, placeholder: "Movie Title" %><br>
  <br>

  <%= f.text_field :genre, placeholder: "Genre" %><br>
  <br>

  <%= f.text_area :summary, placeholder: "Summary" %><br>
  <br>

  <%= f.text_area :poster_url, placeholder: "Paste a Movie Poster Url Link here" %><br>
  <br>  
  
  <%= f.submit %>
<% end %>
</div>