<h1><%= @movie.title %></h1>
<ul>
<li><%= image_tag(@movie.poster_url, :size => "200x300")%></li>
<li><%= @movie.genre%></li>
<li><%= @movie.summary%></li>
<% @movie.reviews.each do |review| %>
<li><%= link_to review.scare_rating, review_path(review)%></li>
<% end %>
</ul>